---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/invalid%3Amaster/files/download
    body:
      encoding: UTF-8
      string: '{"format":"yaml","placeholder_format":"icu","yaml_include_root":true,"original_filenames":true,"directory_prefix":"","indentation":"2sp"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid `project_id` parameter","code":400}}'
  recorded_at: Fri, 23 Oct 2020 15:25:02 GMT
recorded_with: VCR 6.0.0
