---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370/files/download
    body:
      encoding: UTF-8
      string: '{"format":"yaml","placeholder_format":"icu","yaml_include_root":true,"original_filenames":true,"directory_prefix":"","indentation":"2sp"}'
    headers:
      X-api-token:
      - incorrect
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid `X-Api-Token` header","code":400}}'
  recorded_at: Thu, 01 Oct 2020 15:34:20 GMT
recorded_with: VCR 6.0.0
