---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370%3Amaster/files/download
    body:
      encoding: UTF-8
      string: '{"format":"yaml","placeholder_format":"icu","yaml_include_root":true,"original_filenames":true,"directory_prefix":"","indentation":"2sp"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"189934715f57a162257d74.88352370","branch":"master","bundle_url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/export\/189934715f57a162257d74.88352370\/612e05c3ab283f211a349cfcfa388e7c\/Export_Demo-locale.zip"}'
  recorded_at: Fri, 23 Oct 2020 15:24:02 GMT
recorded_with: VCR 6.0.0
