---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/189934715f57a162257d74.88352370/processes/1c2cd137815045ab76ef95ef383ad7a4f7e84be6"
    body:
      encoding: UTF-8
      string: '{"project_id":"189934715f57a162257d74.88352370","process":{"process_id":"1c2cd137815045ab76ef95ef383ad7a4f7e84be6","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-09-30
        15:42:32 (Etc\/UTC)","created_at_timestamp":1601480552}}'
  recorded_at: Wed, 30 Sep 2020 15:42:27 GMT
recorded_with: VCR 6.0.0
