---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"LS0tCmVuOgogIGtleV8wOiB2YWx1ZSAw","filename":"en_0.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/4399204fee0362b0bf88ddb4caa9636ccc13d498"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"4399204fee0362b0bf88ddb4caa9636ccc13d498","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-08-12
        12:54:50 (Etc\/UTC)","created_at_timestamp":1628772890}}'
  recorded_at: Thu, 12 Aug 2021 12:54:52 GMT
[...]
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/392c0dad6fe510ed9071dc1e4e4f5b5183eb7332"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"392c0dad6fe510ed9071dc1e4e4f5b5183eb7332","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-08-12
        12:54:54 (Etc\/UTC)","created_at_timestamp":1628772894}}'
  recorded_at: Thu, 12 Aug 2021 12:54:56 GMT
recorded_with: VCR 6.0.0
