---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/189934715f57a162257d74.88352370/processes/d35d23637b624f77c6ba59370f2ece5c30957924"
    body:
      encoding: UTF-8
      string: '{"project_id":"189934715f57a162257d74.88352370","process":{"process_id":"d35d23637b624f77c6ba59370f2ece5c30957924","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-10-01
        15:09:43 (Etc\/UTC)","created_at_timestamp":1601564983}}'
  recorded_at: Thu, 01 Oct 2020 15:09:35 GMT
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Unknown `lang_iso`","code":400}}'
  recorded_at: Thu, 01 Oct 2020 15:09:36 GMT
recorded_with: VCR 6.0.0
