---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/189934715f57a162257d74.88352370:master/processes/0df7256b177ccaf70997c7635ba14a2ed9f8a2fa"
    body:
      encoding: UTF-8
      string: '{"project_id":"189934715f57a162257d74.88352370","branch":"master","process":{"process_id":"0df7256b177ccaf70997c7635ba14a2ed9f8a2fa","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-10-23
        14:48:55 (Etc\/UTC)","created_at_timestamp":1603464535}}'
  recorded_at: Fri, 23 Oct 2020 14:48:46 GMT
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Unknown `lang_iso`","code":400}}'
  recorded_at: Fri, 23 Oct 2020 14:48:46 GMT
recorded_with: VCR 6.0.0
