---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/542886116159f798720dc4.94769464%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/542886116159f798720dc4.94769464:master/processes/783ba0e07ed794f46c33c1695304e8a39d760705"
    body:
      encoding: UTF-8
      string: '{"project_id":"542886116159f798720dc4.94769464","branch":"master","process":{"process_id":"783ba0e07ed794f46c33c1695304e8a39d760705","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-13
        16:26:57 (Etc\/UTC)","created_at_timestamp":1634142417}}'
  recorded_at: Wed, 13 Oct 2021 16:26:57 GMT
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/542886116159f798720dc4.94769464%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Unknown `lang_iso`","code":400}}'
  recorded_at: Wed, 13 Oct 2021 16:26:58 GMT
recorded_with: VCR 6.0.0
