---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/189934715f57a162257d74.88352370%3Adevelop/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/189934715f57a162257d74.88352370:develop/processes/8188c633f5609aa57afd6599511bac0ec7798b7f"
    body:
      encoding: UTF-8
      string: '{"project_id":"189934715f57a162257d74.88352370","branch":"develop","process":{"process_id":"8188c633f5609aa57afd6599511bac0ec7798b7f","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-10-23
        15:32:53 (Etc\/UTC)","created_at_timestamp":1603467173}}'
  recorded_at: Fri, 23 Oct 2020 15:32:44 GMT
recorded_with: VCR 6.0.0
