---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/340a667c172ac8b74a95576f9ffe64aa0c2a3023"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"340a667c172ac8b74a95576f9ffe64aa0c2a3023","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-13
        16:38:44 (Etc\/UTC)","created_at_timestamp":1634143124}}'
  recorded_at: Wed, 13 Oct 2021 16:38:45 GMT
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510%3Amaster/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510:master/processes/d491d8c3f6117f5d51be02a73e139f9c1439c987"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","process":{"process_id":"d491d8c3f6117f5d51be02a73e139f9c1439c987","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-13
        16:38:45 (Etc\/UTC)","created_at_timestamp":1634143125}}'
  recorded_at: Wed, 13 Oct 2021 16:38:45 GMT
recorded_with: VCR 6.0.0
