---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZW46CiAgbXlfa2V5OiAiTXkgdmFsdWUiCiAgbmVzdGVkOgogICAga2V5OiAiVmFsdWUgMiI=","filename":"nested/en.yml","lang_iso":"en"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/5a21acbc6dd11ccce38f5f9e3f4fd4e9d556a7c2"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"5a21acbc6dd11ccce38f5f9e3f4fd4e9d556a7c2","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-14
        13:12:39 (Etc\/UTC)","created_at_timestamp":1634217159}}'
  recorded_at: Thu, 14 Oct 2021 13:12:40 GMT
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/672198945b7d72fc048021.15940510/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"cnVfUlU6CiAgbXlfa2V5OiAi0JzQvtGRINC30L3QsNGH0LXQvdC40LUiCiAgbmVzdGVkOgogICAga2V5OiAi0JfQvdCw0YfQtdC90LjQtSAyIg==","filename":"ru.yml","lang_iso":"ru_RU"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/672198945b7d72fc048021.15940510/processes/cdf7bb1f65c6dc8d48845e71e39042e3870056f9"
    body:
      encoding: UTF-8
      string: '{"project_id":"672198945b7d72fc048021.15940510","branch":"master","process":{"process_id":"cdf7bb1f65c6dc8d48845e71e39042e3870056f9","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2021-10-14
        13:12:40 (Etc\/UTC)","created_at_timestamp":1634217160}}'
  recorded_at: Thu, 14 Oct 2021 13:12:41 GMT
recorded_with: VCR 6.0.0
